// _vars.scss

// 폰트 변수
$font-gmarket: 'GmarketSansMedium';
$font-nanum: 'NanumSquareNeo';
$font-paperlogy: 'Paperlogy-8ExtraBold';
$font-montserrat: 'Montserrat';

// 컬러 변수
$primary-color: #00ff90;
$white-color: #fff;